<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
</style>
{% if transactions %}
    <table style='width:100%'>
        <tr>
            <th style='width:100px'>Date</th>
            <th>Payee</th>
            <th>Memo</th>
            <th style='width:120px'>Out</th>
            <th style='width:120px'>In</th>
            <th style='width=120px'>Cleared</th>
        </tr>
    {% for t in transactions %}
        <tr>
        <td style='width:100px'>{{ t.date }}</td>
        <td>{{ t.payee }}</td>
        <td>{{ t.memo }}</td>
        <td style='width: 120px; text-align: right;'>{{ t.debit }}</td>
        <td style='width: 120px; text-align: right;'>{{ t.credit }}</td>
        <td style='width: 120px; text-align: center;'>
            <form action="/ledger/toggle_cleared/{{ t.id | safe }}" method="post" style="margin-bottom:0" name='clear_unclear'>
                {% csrf_token %}
                {% if t.cleared %}
                <input type="submit" name='toggle_clear_unclear' value="C" style='width:30px'>
                {% else %}
                <input type="submit" name='toggle_clear_unclear' value=" " style='width:30px'>
                {% endif %}
            </form>
        </td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>There are no transactions.</p>
{% endif %}
<hr />
{% if cleared_red %}
    Cleared Balance: <font color=red>{{ clearedmoney }}</font>
{% else %}
    Cleared Balance: {{ clearedmoney }}
{% endif %}
<br />
{% if uncleared_red %}
    Uncleared Balance: <font color=red>{{ unclearedmoney }}</font>
{% else %}
    Uncleared Balance: {{ unclearedmoney }}
{% endif %}
<br />
{% if total_red %}
    Total Balance: <font color=red>{{ totalmoney }}</font>
{% else %}
    Total Balance: {{ totalmoney }}
{% endif %}
<hr />
<form action="/ledger/index.html" method="post" name="new">
    {% csrf_token %}
    {{ form }}
    <input type="submit" name="submit_new" value="Add" />
</form>
<form action="/ledger/delete_all" method="post">
    {% csrf_token %}
    <input type="submit" name="nuke" value="Delete All Transactions">
</form>
